.counterApp {
    background: rgba(0, 0, 0, 0.7);
    max-width: 25%;
    margin: auto;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}
body {
    background-image: url(images/trains.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
}

h1 {
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.4s;
}

#increment-btn:hover {
    background: darkred;
    border-radius: 12px;

}

#save-btn:hover {
    background: darkgreen;
    border-radius: 12px;
}
